@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your globals.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@media (max-width: 768px) {
  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .image img {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.8rem;
  }

  .btn {
    padding: 8px 15px;
  }
}

